/*********************
VARIABLES
*********************/
$navy-blue: #0c2661;
$navy-blue1: #0f2c6f;

$navy-blue-rgba: rgba(15, 44, 111, 1);

$blue: #1a47b0;

$light_blue: #cbd5ec;

$scarlet: #f91d3f;

$dark-grey: #595f6f;

$max-width: 1400px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
